body {
    text-align: center;
    background-image: url(./assets/images/AdobeStock_93364974.jpeg);
    background-position: center;
    background-size: cover;
}

h1 {
    color: white;
}

#game-board {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 20px;
    max-width: 700px;
    margin: 0 auto;
}

.card {
    width: 115px;
    height: 165px;
    cursor: pointer;
    transform: scale(1);
    perspective: 1000px;
}

.card .front-face {
    width: 115px;
    height: 165px;
    position: absolute;
    backface-visibility: hidden;
}

.card .back-face {
    /* background: url("/assets/images/blue.svg") center/cover no-repeat; */
    width: 115px;
    height: 165px;
    backface-visibility: hidden;
}

.card.flipped .back-face {
    transform: rotateY(180deg);
}

.card.un-flipped .front-face {
    transform: rotateY(180deg);
}

.card:active {
    transform: scale(.97);
    transition: transform .2s;
}


#timer {
    color: white;
    font-weight: bold;
    font-size: larger;
}

.action-buttons {
    background-color: red;
    color: white;
    font-size: medium;
    height: 30px;
    width: 100px;
    border-radius: 75px;
    cursor: pointer;
}