body {
    text-align: center;
    background-image: url(./assets/images/poker-table-green-fabric-ehvbvg2v8010o3sx.jpg);
    background-position: center;
    background-size: cover;
}

h1 {
    color: white;
}

#game-board {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 20px;
    max-width: 700px;
    margin: 0 auto;
}

.card {
    width: 115px;
    height: 165px;
    cursor: pointer;
    transform: scale(1);
}

.card:active {
    transform: scale(.97);
    transition: transform .2s;
}


#timer {
    color: white;
    font-weight: bold;
    font-size: larger;
}

.action-buttons {
    background-color: red;
    color: white;
    font-size: medium;
    height: 30px;
    width: 100px;
    border-radius: 75px;
    cursor: pointer;
}